.card-front {
  height: 150px;
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
}

.card-back {
  background-color: black;
  height: 150px;
  width: 125px;
  border-radius: 12px;
  border-width: 1px;
}
