.game-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-title{
    font-weight: normal;
    text-align: center;
    font-size: 2em;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
}

.overlay-text {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    font-weight: normal;
    text-align: center;
    font-size: 3em;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 600px) {
    .game-container {
        grid-template-columns: repeat(2, auto);
    }

    .game-info-container {
        flex-direction: column;
        align-items: center;
    }
}
